<section class="relative">
  <div [ngClass]="[
    isClicked || currentSearchValue.value?.length>0==true ?'bg-[#040404]' :'bg-white/10',
    (searchService.searchedAlbums$ | async) !=null && currentSearchValue.value?.length>0==true ?'rounded-t-lg' :'rounded-l-lg rounded-r-lg'
    ]" 
    class="h-[40px] w-[400px] flex flex-row border border-white/20" (click)="onInputClick()">
      <button type="button" class="px-4 py-2">
        <img class="invert" src="assets/images/header/searchInputIcon.svg" width="24px" height="auto" alt="Icono de Buscar Cancion de Youtube Music Realizado por Adrian Morales">
      </button>
      <input class="bg-transparent text-white/5 h-full w-full focus:text-white/100 focus-visible:outline-none {{currentSearchValue.value?.length>0?'text-white/100':''}}" type="text" placeholder="Search songs, albums, artists, podcasts" [formControl]="currentSearchValue">
      <button type="button" class="px-4 py-2" (click)="currentSearchValue.setValue('')">
        <img class="invert" src="assets/images/header/removeSearchInput.svg" width="24px" height="auto" alt="Icono de Buscar Cancion de Youtube Music Realizado por Adrian Morales">
      </button>
  </div>
  <ng-container *ngIf="searchService.searchedAlbums$ | async as album">
    <div *ngIf="currentSearchValue.value?.length>0" class="flex flex-col bg-[#040404] absolute w-full py-4 gap-5 border border-t-0 border-white/20 rounded-b-lg">
      <a *ngFor="let songalbum of album" class="flex flex-row p-3 gap-4 hover:bg-white/10" href="#">
        <img class="self-center" src="{{songalbum.src}}" alt="{{songalbum.alt}}" width="32px" height="32px">
        <div class="flex flex-col">
          <span class="font-bold">{{songalbum.name}}</span>
          <span>{{songalbum.type}}</span>
        </div>
      </a>
      <span class="p-3 " *ngIf="!album || album.length<=0">No songs found</span>
    </div>
  </ng-container>
<!-- <ng-template #loading > No albums found </ng-template>  -->
</section>