<div class="h-[40px] w-[400px] flex flex-row border bg-white/10 border-white/20 rounded-l-lg rounded-r-lg">
  <button class="bg-inherit px-4 py-2">
    <img class="invert" src="assets/images/header/searchInputIcon.svg" width="24px" height="auto" alt="Icono de Buscar Cancion de Youtube Music Realizado por Adrian Morales">
  </button>
  <input class="bg-inherit text-white/5 h-full w-full" type="text" placeholder="Search songs, albums, artists, podcasts">
  <button class="bg-inherit px-4 py-2">
    <img class="invert" src="assets/images/header/removeSearchInput.svg" width="24px" height="auto" alt="Icono de Buscar Cancion de Youtube Music Realizado por Adrian Morales">
  </button>
</div>