<section>
  <ul>
    <li>
      <a [ngClass]="(isCollapsed$ |async) == true  ? 'justify-center': 'px-5'" class="flex flex-row flex-wrap align-middle min-h-[48px] bg-white/10 rounded-md hover:bg-white/20" href="/">
        <img  class="invert" src="assets/images/aside/homeIcon.svg" width="24px" height="24px" alt="Icono de Home de Youtube Music Realizado por Adrian Morales">
        <span [ngClass]="(isCollapsed$ |async) == true  ? 'hidden': 'inline'" class="ml-5 font-bold text-base self-center">Home</span>
      </a>
    </li>
    <li>
      <a [ngClass]="(isCollapsed$ |async) == true  ? 'justify-center': 'px-5'" class="flex flex-row flex-wrap align-middle min-h-[48px] bg-transparent rounded-md hover:bg-white/20" href="/">
        <img class="invert" src="assets/images/aside/explorerIcon.svg" width="24px" height="24px" alt="Icono de Explorar de Youtube Music Realizado por Adrian Morales">
        <span [ngClass]="(isCollapsed$ |async) == true  ? 'hidden': 'inline'"  class="ml-5 font-bold text-base self-center">Explore</span>
      </a>
    </li>
    <li>
      <a [ngClass]="(isCollapsed$ |async) == true  ? 'justify-center': 'px-5'" class="flex flex-row flex-wrap align-middle min-h-[48px] bg-transparent rounded-md hover:bg-white/20" href="/">
        <img class="invert" src="assets/images/aside/libraryIcon.svg" width="24px" height="24px" alt="Icono de Biblioteca de Youtube Music Realizado por Adrian Morales">
        <span [ngClass]="(isCollapsed$ |async) == true  ? 'hidden': 'inline'"  class="ml-5 font-bold text-base self-center">Library</span>
      </a>
    </li>
  </ul>
</section>