<section>
  <ul>
    <li>
      <a class="flex flex-row align-middle px-5 min-h-[48px] bg-white/10 rounded-md hover:bg-white/20" href="/">
        <img class="mr-5 invert" src="assets/images/aside/homeIcon.svg" width="24" height="24" alt="Icono de Home de Youtube Music Realizado por Adrian Morales">
        <span class="font-bold text-base self-center">Home</span>
      </a>
    </li>
    <li>
      <a class="flex flex-row align-middle px-5 min-h-[48px] bg-transparent rounded-md hover:bg-white/20" href="/">
        <img class="mr-5 invert" src="assets/images/aside/explorerIcon.svg" width="24" height="24" alt="Icono de Explorar de Youtube Music Realizado por Adrian Morales">
        <span class="font-bold text-base self-center">Explore</span>
      </a>
    </li>
    <li>
      <a class="flex flex-row align-middle px-5 min-h-[48px] bg-transparent rounded-md hover:bg-white/20" href="/">
        <img class="mr-5 invert" src="assets/images/aside/libraryIcon.svg" width="24" height="24" alt="Icono de Biblioteca de Youtube Music Realizado por Adrian Morales">
        <span class="font-bold text-base self-center">Library</span>
      </a>
    </li>
  </ul>
</section>