<section class="py-8">
  <div class="flex flex-row flex-wrap justify-between">
    <h1 class="font-bold- text-5xl leading-tight">Recommended albums</h1>
    <div class="flex flex-row gap-4">
      <button class="p-2 hover:bg-white/10 border border-white/20 rounded-full h-fit" type="button">
        <img class="invert" src="assets/images/main/nextPageIcon.svg" width="22" height="22" alt="Icono para recuperar albumes siguientes de Youtube Music Realizado por Adrian Morales">
      </button>
      <button class="p-2 hover:bg-white/10 border border-white/20 rounded-full h-fit" type="button">
        <img class="invert" src="assets/images/main/prevPageIcon.svg" width="22" height="22" alt="Icono para recuperar albumes previos de Youtube Music Realizado por Adrian Morales">   
      </button>   
    </div>
  </div>
  <div class="flex flex-row gap-6 mt-4">
    <div class="flex-1" *ngFor="let album of albums">
      <app-main-albumsongcover [album]="album"/>
    </div>
  </div>
</section>